/* NULL */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
a {
    text-decoration: none;
}    

/* Container */

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
}

/* Header */

.header {
    display: flex;
    background: #ececec;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 7px;
    
}

.logo-img {
    width: 30%;
}
.nav {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.nav-elem {
    display: block;
}


/* content */
.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content h1 {
    text-align: center;
    
}

.block-title {
    background-color: #f2f2f2; 
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: -10px -10px 10px;
}

.add-task {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
  }

.tasks{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
}

button{
    font-weight: 600;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 70px;
}

button:hover{
    opacity: 50%;
}

button:active{
    opacity: 90%;
}

.submit-btn{
    color: white;
    background-color: #007dff;
}

input {
    width: calc(100% - 10px);
    height: 30px;
}

input::placeholder {
    padding-left: 7px;
}

input:focus::placeholder {
    color: white;

}


/* Table Tasks*/
.btn-form{
    display: inline;
}

.table {
    width: 100%;
}

.row{
    text-align: center;

}

.incomplete {
    text-decoration:line-through;
}

.complete-btn{
    color: white;
    background-color: #007dff;
}

.incomplete-btn{
    width: 80px;
    color: white;
    background-color: #a3a3a3;
}

.delete-btn{
    color: rgb(255, 255, 255);
    background-color: #fa5353;
}


/* Auth */

.auth-form {
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.singup-form {
    padding: 35px;
    border-left: 2px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    height: 300px;
}
.login-form {
    border-radius: 10px;
    padding: 35px;
    background: #363434;
    color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.input-items{
    margin-bottom: 20px;
}

.header-txt{
    font-weight: 800;
}

/* Footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ececec;
    width: 100%;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
}

.footer .nav {
    width: 10%;
}
